@charset "UTF-8";

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
      min-height: 100%;
    }
.input-form {
      max-width: 680px;
      margin-top: 80px;
      padding: 32px;
      background:#fff;
      border-radius: 10px;
      box-shadow: 0 8px 20px 0;
    }